.poster {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    height: 340px;
    margin-bottom: 40px;
    color: #D3D3D3;
}

.text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}